@charset "utf-8";

.header {
    padding-bottom: 80px;
}

.header_nav {
    background: linear-gradient(90deg, #fff 20%, rgba(0,0,0,.6) 60%);
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: stretch;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.global_nav {
    display: flex;
    align-items: stretch;
}

.global_nav_item {
    color: #fff;
    text-decoration: none;
    display: flex;
    padding: 0 20px;
    align-items: center;
}

.global_nav_item:hover {
    background: #fff;
    color: #42210b;
}
  
.logo {
    width: 120px;
    display: flex;
    align-items: center;
}

.logo img{
    width: 100%;
}


.section_inner {
    padding: 50px 10% 30px;
}

.section_title {
    font-family: 'Noto Serif JP', serif;
    text-align: center;
    margin-bottom: 50px;
}

.contact {
    width: 100%;
    margin-bottom: 30px;
}

.contact_line {
    height: 50px;
    line-height: 50px;
}

.contact_sign {
    width: 25%;
    background: #beb9b7;
    border: solid 1px #beb9b7;
    text-align: left;
    padding: 0 20px;
}

.contact_input {
    width: 75%;
    border: solid 1px #beb9b7;
}

.contact_content {
    height: 100px;
}

.contact_input input, 
.contact_input select, 
.contact_input textarea {
    border: none;
    width: 99%;
    font-family: inherit;
}

.contact_input input, 
.contact_input select {
    height: 50px;
}

.contact_input textarea {
    height: 100px;
}

.contact_btn_area {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.contact_btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

.btn_enviar {
    background: #a957ac;
    color: white;
}

.btn_reset {
    background: #dfdfdf;
}

.color_alerta {
    color: #d14539;
}

.fondo_alerta {
    background: rgba(230,169,171,.5);
}

.footer {
    background: #251e19;
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: -75px;
    margin-top: auto;
}
  
.footer_ul {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
  
.footer_li {
    display: flex;
    padding: 0 10px;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.derechos {
    color: white;
    text-align: center;
    font-size: 10px;
}